

.column {
    float: left;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
    height:100vh;
}
.menu {
    width: 30%;
    background-color: rgb(248, 78, 48);
}
.recipes {
    width: 70%;
    background-color: rgb(240, 230, 219);
}
.fa-trash-alt{
    cursor: pointer;
    color: darkred;
}

table{
    background-color: rgb(240, 230, 219);
}
    
