.column {
    float: left;
    padding: 10px 10px 10px 20px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
    height:100vh;
}
.row{
    margin: 0;
}
.btn{
    width: 100%;
}
.menu {
    position: static;
    width: 100%;
    padding: 10px 20px;
    background-color: #CD352C;
}
.recipes {
    position: static;
    padding: 10px 20px;
    background-color: rgb(240, 230, 219);
}
table{
    background-color: rgb(240, 230, 219);
}
    
i.far{
    position: absolute;
    margin: 0;
    right: 5px;
    bottom: 10px;
}
i.fas{
    margin: 0;
}