img{
    height: 50%;
    width: 50%; 
    margin: 0px;
}
.recipe-group{
    display: flex;
}


.card{
    min-height: 250px;
    min-width: 250px; 
    max-height: 350px;
    max-width: 350px; 
    margin: 2%;
}

.card-header{
    height: 35%;
}

.card-footer{
    height: 35%;
}

.fas{
    cursor: pointer;
    margin: 5%;
}

.fa-heart{
    color: firebrick;
    float:left;
}

.fa-utensils{
    color: teal;
    float:left;
}
