img{
    height: 200px;
}
.recipe-group{
    display: flex;
}

.card{
  border: 10px solid transparent;
  border-top: 20px solid transparent;
  background-clip:padding-box;
  /* max-height: 250px; */
} 

.card-title{
    height: 100px;
}

.card-header{
    height: 35%;
}

.card-footer{
    height: 35%;
}

.buttons{
    position: absolute;
    right: 0;
    top: 10px;
}

