<div class="card-deck recipe-group">
    <div class="card text-center" [@bounce]="bounce" *ngFor="let recipe of recipes">
            <div class="card-header bg-transparent">{{recipe.title}}</div>
        <div class="card-body">
            <img src="{{recipe.thumbnail}}"alt="">
                <div>
                    <i title="Add to favorites" *ngIf="favButton" class="fas fa-heart" [ngStyle]="{'color': heartColor(recipe)?'gray':'firebrick'}" (click)="save(recipe)"></i>
                    <i title="Delete recipe" *ngIf="deleteButton" class="far fa-trash-alt" (click)="delete(recipe)"></i>
                    <a href="{{recipe.href}}" target="_blank"><i title="Go to recipe" class="fas fa-utensils"></i></a> 
                </div>
            </div>
        <div class="card-footer bg-transparent">{{recipe.ingredients}}</div>
    </div>
</div>

