<nav class="navbar navbar-light nv-color justify-content-between">
  <a class="navbar-brand" href="#">College Recipes</a>
  <button
    *ngIf="!appUser" 
    (click)="login()"
    class="btn btn-light">
    Login With Google 
    <i class="fab fa-google"></i>
  </button>
  <div *ngIf="appUser" ngbDropdown class="d-inline-block">
    <button class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>{{appUser.name}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem routerLink="/my-recipes">My Recipes</button>
      <button ngbDropdownItem (click)="logout()">Logout</button>
    </div>
  </div>
</nav>