.nv-color{
  padding: 10px 20px;
}

#header{
  background-color: #13203C;
  padding: 0;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  width: 100%;
}

.navbar-brand{
  font-weight: bold;
  margin: 0;
}

.navbar-icon{
  width: 100%;
  height: 100%;
}

.btn{
  margin-left: 15px
}

/* red #CD352C
blue #13203C */